<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StudentManagerSystem</display-name>
<filter>
        <filter-name>encode-filter</filter-name>
        <filter-class>filter.CharacterEncodingFilter</filter-class>
</filter>
  
  
  <filter-mapping>
        <filter-name>encode-filter</filter-name>
        <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  <servlet>
    <servlet-name>StudentManageServlet</servlet-name>
    <servlet-class>server.StudentManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonManagerServlet</servlet-name>
    <servlet-class>server.PersonManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourseManagerServlet</servlet-name>
    <servlet-class>server.CourseManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestManagerServlet</servlet-name>
    <servlet-class>server.TestManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>server.LoginServlet</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>SignUp</servlet-name>
     <servlet-class>server.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>Exit</servlet-name>
     <servlet-class>server.ExitServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>StudentManageServlet</servlet-name>
    <url-pattern>/servlet/StudentManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonManagerServlet</servlet-name>
    <url-pattern>/servlet/PersonManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseManagerServlet</servlet-name>
    <url-pattern>/servlet/CourseManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestManagerServlet</servlet-name>
    <url-pattern>/servlet/TestManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/servlet/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>Exit</servlet-name>
     <url-pattern>/servlet/Exit</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>